:root {
    --color-bg-primary: #B2DDCB; /* Primary background color */
    --color-bg-secondary: #5EA89C; /* Secondary background color */
    --color-bg-tertiary: #51927A; /* Tertiary background color */
    --color-text-primary: #000000; /* Primary text color */
    --color-text-secondary: #FFFFFF; /* Secondary text color */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    color: var(--color-text-primary);
}

.layout {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: fit-content;
}

.navbar {
    width: 20vw;
    background-color: var(--color-bg-tertiary);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 7px 4px 50px 1px rgba(0,0,0,0.47);
    -webkit-box-shadow: 7px 4px 50px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 7px 4px 50px 1px rgba(0,0,0,0.47);
}

.navbar__list {
    list-style: none;
    width: 100%;
    height: 60vh;
    padding: 20px 0;
    display: grid;
    flex-direction: column;
    align-items: center;
    margin: 0;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#logo-image {
    width: 100%;
}

.navbar__item {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar__link {
    display: flex;
    padding: 0 32px;
    color: #ecf0f1;
    text-decoration: none;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    transition: all 0.3s ease;
}

.navbar__link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar__item-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 12%;
}

/*<------------------------------------- main ------------------------------------>*/
.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-primary);
}

.main__map-title {
    padding: 30px 40px;
    margin: 0;
}

.main__map-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 0 44px 0;
}

.main__map-container {
    height: 78vh;
    width: 80%;
}